<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
    .edit {
        font-size: 120%;
        color: blue
    }
</style>

<style>
    .head {
        font-size: 120%;
        font: bolder;
        color: red
    }
</style>

<style>
    .topcorner {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>

<div class="topcorner">
    <a href="{% url 'home' %}" class="btn btn-outline-warning" style="font-weight: bolder;">Home</a>
</div>


<div class="head">
    <h1>About</h1>
    <hr style="background-color: crimson; font-weight: bold;">
</div>
<p>This is <span class="edit">password generator </span> webpage created by shebeeq</p>