<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
    .topcorner {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>
<style>
    input[type="checkbox"] {
        vertical-align: middle;
        
    }

    .centered {

        margin: auto;
        width: auto;
        font-weight: bold
    }
</style>

<div class="topcorner">
    <a href="{% url 'about' %}" class="btn btn-outline-info" style="font-weight: bold;">About</a>
</div>

<div style="background-color: lightcyan;">
    
    <h1 class="container text-center" style="color: tomato;">Password Generator </h1>
    
    <form action="{% url 'password'  %}" style="background-color: lightgreen;">
        <div class="row">
            <div class="centered">
                <div class="checkbox">

                    <select name="length">
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12" selected="selected">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>

                    </select> Length of password

                    <br>
                    <div class="checkbox">
                        <label><input type="checkbox" name="uppercase" title="Select to include upper case letter in password"> UpperCase</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="numbers"> Numbers</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="special"> Special Character</label>
                    </div>
                    <br>
                    <input type="submit" value="Generate Password" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>